VITE_AUTH_KEYCLOAK_AUTHORITY=
VITE_AUTH_KEYCLOAK_CLIENT_ID=
VITE_AUTH_KEYCLOAK_CLIENT_SECRET=
VITE_AUTH_KEYCLOAK_REDIRECT_URI=
VITE_TENANT_API_BASE_URL=
VITE_POC_API_BASE_URL=
VITE_POC_WS_URL=
VITE_RAG_API_BASE_URL=
VITE_DIFY_API_BASE_URL=
VITE_CHATBOT_API_BASE_URL=
VITE_FETCH_CLIENT_TIMEOUT=
